<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search Name" [formControl]="nameSearchTextBox" [matAutocomplete]="auto">
    </mat-form-field>
    <button class="btn btn-primary btn-search" [disabled]="searchButtonDisabled" (click)="goToSelectedName()">
      <fa name="search"></fa>
    </button>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected()">
      <mat-option *ngFor="let name of filteredOptions | async" [value]="name">{{name}}</mat-option>
    </mat-autocomplete>
  </form>

  <h1>List of names</h1>
  <cdk-virtual-scroll-viewport itemSize="50">
    <li *cdkVirtualFor="let name of names | sort" class="list-group-item">
      {{name}}
    </li>
  </cdk-virtual-scroll-viewport>
</div>

